<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Monitoring</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Status Monitoring</h1>
        <table>
            <thead>
                <tr>
                    <th>Kelompok</th>
                    <th>Jarak</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Contoh</td>
                    <td id="contoh-jarak">0.0</td>
                </tr>
                <tr>
                    <td>Kelompok 1</td>
                    <td id="kelompok_1-jarak">0.0</td>
                </tr>
                <tr>
                    <td>Kelompok 2</td>
                    <td id="kelompok_2-jarak">0.0</td>
                </tr>
                <tr>
                    <td>Kelompok 3</td>
                    <td id="kelompok_3-jarak">0.0</td>
                </tr>
                <tr>
                    <td>Kelompok 4</td>
                    <td id="kelompok_4-jarak">0.0</td>
                </tr>
                <tr>
                    <td>Kelompok 5</td>
                    <td id="kelompok_5-jarak">0.0</td>
                </tr>
                <tr>
                    <td>Kelompok 6</td>
                    <td id="kelompok_6-jarak">0.0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
